* {

  box-sizing: border-box;

}



html,
body {

  // overflow: hidden;

}

.App {

  text-align: center;
  background: black;
  height: 100vh;
  color: white;
  // display: flex;
  // flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;

}



.app-header,
.app-footer {

  background: black;

}

.app-header {

  padding: 1rem;
  overflow: none;
  user-select: none;
  -webkit-user-select: none;



  h1 {

    text-shadow: 0px 0px 5px #AAA;
    opacity: 90%;

  }

}

.app-footer {

  // position: absolute;
  // bottom: 0;
  text-align: center;
  width: 100%;

}



.profile {

  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  user-select: none;
  -webkit-user-select: none;



  .profile-image {

    height: 250px;
    border-radius: 50%;
    position: absolute;
    // top: 50%;
    z-index: 1;
    right: calc(25% - 125px);
    border: 5px solid #999;
    box-shadow: 0px 0px 10px #999;
    filter: sepia(50%);
    animation: roll-profile 1.5s ease 1;
  }

  .profile-bg {

    height: 250px;
    width: 250px;
    position: absolute;
    background: linear-gradient(0deg,
        // black,
        // #99279b,
        // #00B3C1,
        // #ffba30,
        // rgb(240, 183, 11),
        // orange,
        rgb(221, 48, 48),
        orange,
        rgb(213, 192, 9),


      );
    overflow: hidden;
    z-index: 0;
    border-radius: 50%;
    // right: 50%;
    left: calc(25% - 125px);
    box-shadow: 0px 0px 10px rgba(255, 166, 0, 0.541);
    filter: saturate(90%) blur(1px);
    opacity: 100%;
    animation: fade-in 1.5s ease 0s 1;
  }

  .profile-bg,
  .profile-strip {

    // bottom: 10px;

  }



  .profile-strip {

    position: relative;
    width: 100%;
    background: black;
    height: 10px;

  }



  #profile-strip-1 {

    top: 10%;

  }

  #profile-strip-2 {

    top: 20%;

  }

  #profile-strip-3 {

    top: 30%;

  }

  #profile-strip-4 {

    top: 40%;

  }

  #profile-strip-5 {

    top: 50%;

  }

  #profile-strip-6 {

    top: 60%;

  }

  #profile-strip-7 {

    top: 70%;

  }

  #profile-strip-8 {

    top: 80%;

  }

  #profile-strip-9 {

    top: 90%;

  }


}

.app-navbar {

  // width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 2rem;
  background: linear-gradient(0deg,
      #111,
      #222,
      #111,
    );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 0 1rem;
  z-index: 1000;



  ul {


    width: 60%;

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 3px solid #666;
    border-width: 0 3px;

    li {


      border-right: 1px solid #666;
      padding: 1px 1%;
      user-select: none;
      -webkit-user-select: none;



      a {

        color: white;
        text-decoration: none;

      }

      a:hover {

        color: red;

      }

    }

  }

}

.app-section {

  background: #111;
  // background: linear-gradient(90deg,
  //     rgba(50, 50, 50, .3),
  //     #222,
  //     rgba(50, 50, 50, .3),
  //   );
  // box-shadow: 0px 0px 5px #AAA;
  // height: 100vh;
  margin: auto;
  margin: 1rem;
  text-align: left;
  padding: 1rem;
  scroll-snap-align: end;
  scroll-margin-top: 2.5rem;
  scroll-snap-margin-top: 2.5rem;
  position: relative;
  border-radius: 5px;
  margin: 1rem 21%;
  border: 1px solid silver;



  h2 {

    margin: 0 0 1rem;
    text-shadow: 0px 0px 2px #AAA;
    user-select: none;
    -webkit-user-select: none;

  }

  .section-text {

    margin: 5rem;
    text-align: justify;

  }

}

#projects-section {

  height: calc(100vh - 3rem);
  // display: flex;
  // flex-direction: column;



  .section-text {

    margin: 0;

  }

}

.projects-area {

  height: calc(100% - 3.5rem);
  width: 100%;
  // padding: 0rem 1rem;



  .project-preview-area {

    width: 100%;
    height: 70%;
    // border: 1px solid #AAA;
    // border-bottom-width: 0px;
    background: #222;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .art-project-preview {

      // width: 400px;
      height: 80%;
      border: 2px solid silver;
      border-radius: 10px;
      box-shadow: 0px 0px 10px red,
        0px 0px 15px orange,
        0px 0px 10px blue;
      filter: saturate(100%);
      object-fit: contain;

    }

  }

  .project-selection-area {

    width: 100%;
    height: 30%;
    // background: rgb(77, 77, 255);
    // border: 1px solid #AAA;
    // border-top-width: 0px;




    .project-type-tabs {

      margin: 0;
      background: #222;
      // height: 2rem;
      // padding: 1rem;
      // position: relative;
      display: flex;
      // gap: 1px;




      h3 {

        margin: 0rem;
        // background: blue;
        // background:
        display: inline-block;
        padding: .25rem;
        border-radius: 5px 5px 0px 0px;
        width: 7rem;
        text-align: center;
        // position: absolute;
        // top: 0;
        // left: 0;
        user-select: none;
        -webkit-user-select: none;

      }



      h3:nth-of-type(1).tab-type-0 {


        background: linear-gradient(180deg,
            hsl(240, 50%, 50%) 80%,
            hsl(240, 50%, 30%),
          );

        // background: hsl(240, 50%, 50%);

      }

      h3:nth-of-type(2).tab-type-0 {

        // background: red;
        background: linear-gradient(180deg,
            hsl(0, 50%, 50%) 80%,
            hsl(0, 50%, 30%),
          );

        // background: hsl(0, 50%, 50%);

      }

      h3:nth-of-type(3).tab-type-0 {

        // background: hsl(175, 94%, 35%);
        background: linear-gradient(180deg,
            hsl(175, 94%, 35%) 80%,
            hsl(175, 94%, 25%),
          );

        // background: hsl(175, 94%, 35%);

      }

      h3:nth-of-type(4).tab-type-0 {

        // background: purple;
        background: linear-gradient(180deg,
            hsl(300, 50%, 50%) 80%,
            hsl(300, 50%, 30%),
          );

        // background: hsl(300, 50%, 50%);

      }



      h3:nth-of-type(1).tab-type-0:hover {

        // background: #4d4dff;
        background: linear-gradient(180deg,
            hsl(240, 50%, 60%) 80%,
            hsl(240, 50%, 40%),
          )
      }

      h3:nth-of-type(2).tab-type-0:hover {

        // background: red;
        background: linear-gradient(180deg,
            hsl(0, 50%, 60%) 80%,
            hsl(0, 50%, 40%),
          );

      }

      h3:nth-of-type(3).tab-type-0:hover {

        background: linear-gradient(180deg,
            hsl(175, 94%, 40%) 80%,
            hsl(175, 94%, 25%),
          )
      }

      h3:nth-of-type(4).tab-type-0:hover {

        // background: purple;
        background: linear-gradient(180deg,
            hsl(300, 50%, 60%) 80%,
            hsl(300, 50%, 40%),
          )
      }



      h3.tab-type-1 {

        background: hsl(240, 50%, 50%);

      }

      h3.tab-type-1:hover {

        background: hsl(240, 50%, 50%);

      }



      h3.tab-type-2 {

        background: hsl(0, 50%, 50%);

      }

      h3.tab-type-2:hover {

        background: hsl(0, 50%, 50%);

      }



      h3.tab-type-3 {

        background: hsl(175, 94%, 35%);

      }

      h3.tab-type-3:hover {

        background: hsl(175, 94%, 35%);

      }



      h3.tab-type-4 {

        background: hsl(300, 50%, 50%);

      }

      h3.tab-type-4:hover {

        background: hsl(300, 50%, 50%);

      }

    }



    .project-type-projects {

      // background: hsl(240, 50%, 60%);
      height: calc(100% - 2rem - 1px);
      border-radius: 0 0 10px 10px;
      display: flex;
      justify-content: center;
      align-items: center;



      .projects-collection-area {

        background: white;
        height: calc(100% - 1rem);
        width: 100%;
        margin: 0 .5rem;
        border-radius: 5px;
        display: flex;
        justify-content: start;
        // padding: .5rem;
        // gap: 1rem;
        overflow-x: scroll;

      }



    }

    .projects-collection-area::-webkit-scrollbar {

      width: 1px;
      background: #888;
      border-radius: 0px 0px 5px 5px;

    }

    .projects-collection-area::-webkit-scrollbar-thumb {

      background: linear-gradient(180deg,
          #BBB,
          #888,
          #BBB,
        );
      border-radius: 10px;
      border: 1px solid #555;

    }

    .projects-collection-area::-webkit-scrollbar-track {

      background-color: #111;
      margin: 1px;
      border-radius: 10px;
      border: 1px solid #555;

    }


    .project-type-projects.type-tab-0 {

      background: hsl(39, 5%, 30%);

    }

    .project-type-projects.type-tab-1 {

      background: hsl(240, 50%, 50%);

    }

    .project-type-projects.type-tab-2 {

      background: hsl(0, 50%, 50%);

    }

    .project-type-projects.type-tab-3 {

      background: hsl(175, 94%, 35%);

    }

    .project-type-projects.type-tab-4 {

      background: hsl(300, 50%, 50%);

    }

  }

}


.project-thumbnail {

  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 10px 0;
  // background: red;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;


  .thumbnail-image {

    width: 75px;
    height: 75px;
    object-fit: contain;
    background: grey;
    border-radius: 10px;
    border: 2px outset silver;

  }

  figcaption {

    color: black;
    position: absolute;
    bottom: 5px;
    // background: green;
    font-size: 1.5rem;
    font-weight: bold;
    left: calc(50% - 1.5rem);
    width: 3rem;
    text-align: center;

  }

}

.project-thumbnail.active-thumbnail {

  background: rgba(0, 0, 255, 30%);

}


@keyframes roll-profile {

  0% {

    // right: calc(42% - 125px);
    opacity: 0%;
    rotate: 45deg;

  }

  100% {

    // right: calc(45% - 125px);
    opacity: 100%;
    rotate: 0deg;

  }

}

@keyframes fade-in {

  0% {

    opacity: 0%;
    rotate: -45deg;

  }

  100% {

    opacity: 100%;

  }

}